@{
    ViewBag.Title = "Clubs";
}

<div class="page fullHeight">
    <div class="open-full-panel half-panel animate-panel" id="topPage">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <span>Clubs</span>
                    <button type="button" class="btn btn-animate btn-animate-side btn-success btn-sm createButton headerCreateButton" id="createButton"><span><i class="icon md-plus"></i>New Club</span></button>
                    <a class="btn btn-info btn-sm floatRight" data-toggle="collapse" href="#collapseSearch">
                        Advanced Search Options
                    </a>
                </h2>
            </div>
            <div class="panel-body panel-no-pad">
                <div class="collapse" id="collapseSearch">
                    <div class="panel">
                        <div class="panel-body container">
                            <div class="row">
                                <div class="col-xs-12 col-md-6 col-lg-4">
                                    <div class="form-group form-material" data-plugin="formMaterial">
                                        <label class="form-control-label">Status:</label>
                                        <select class="combobox" id="statusFilter">
                                            <option selected="selected" value="current">Current</option>
                                            <option value="all">All</option>
                                            <option value="future">Future</option>
                                            <option value="expired">Expired</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="jsGrid" class="fullHeight"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-primary" tabindex="-1" role="dialog" id="mainModal">
    <div class="modal-dialog modal-center modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: rgb(158,27,50)">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="bottomTitle">View Club</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div id="bottomHalf">
                        <input type="hidden" id="GrantId" data-field="GrantId" />
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group form-material floating" data-plugin="formMaterial">
                                    <input type="text" class="form-control empty" id="ClubName" name="ClubName" data-field="ClubName" />
                                    <label class="form-control-label floating-label">Club Name</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group form-material floating" data-plugin="formMaterial">
                                    <input type="text" class="form-control empty" id="Description" name="Description" data-field="Description" />
                                    <label class="form-control-label floating-label">Description</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group form-material floating" data-plugin="formMaterial">
                                    <div id='calendar'></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn btn-info closeBottom waves-effect waves-light waves-round cancelButton floatRight" id="cancelButton">Cancel</div>
                <button type="submit" class="btn btn-warning waves-effect ladda-button saveButton floatRight" data-style="contract-overlay" id="saveButton"><span class="ladda-label">Delete</span></button>
                <button type="submit" class="btn btn-primary waves-effect ladda-button saveButton floatRight" data-style="contract-overlay" id="saveButton"><span class="ladda-label">Save</span></button>
            </div>
        </div>
    </div>
</div>

@section stylesheets {
    @*<link type="text/css" rel="stylesheet" href="~/Content/global/vendor/jsgrid/jsgrid.css" />*@
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/global/vendor/select2/select2.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/global/vendor/bootstrap-datepicker/bootstrap-datepicker.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/global/vendor/icheck/icheck.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/global/vendor/dropify/dropify.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.css' />
}

@section includescripts {
    <script type="text/javascript" src="~/Content/global/vendor/select2/select2.full.min.js"></script>
    @*<script type="text/javascript" src="~/Content/global/vendor/jsgrid/jsgrid.js"></script>*@
    <script type="text/javascript" src="~/Content/global/vendor/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="~/Content/global/vendor/icheck/icheck.js"></script>
    <script type="text/javascript" src="~/Content/global/vendor/dropify/dropify.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.min.js'></script>

}

@section scripts {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
    @*<script type="text/javascript" src="~/Content/site/jsgridHelper.js"></script>
        <script type="text/javascript" src="~/Content/site/commonPageScripts.js"></script>
        <script type="text/javascript" src="~/Content/site/modalPageScripts.js"></script>*@

    <script type="text/javascript">
        $(document).ready(function () {
            $("#statusFilter").select2();
            // page is ready
            $('#calendar').fullCalendar({
                // calendar properties
            })
        });
        var clients = [
            { "Name": "Basketball", "Married": "Group Name" },
            { "Name": "Football", "Married": true },
            { "Name": "Golf", "Married": false },
            { "Name": "Ultimate Frisbee", "Married": true },
            { "Name": "Soccer", "Married": false }
        ];

        var countries = [
            { Name: "", Id: 0 },
            { Name: "United States", Id: 1 },
            { Name: "Canada", Id: 2 },
            { Name: "United Kingdom", Id: 3 }
        ];

        $("#jsGrid").jsGrid({
            width: "100%",
            // height: "100%",

            inserting: false,
            editing: false,
            sorting: true,
            paging: true,
            data: clients,

            fields: [
                { name: "Name", type: "text", width: 150, validate: "required", align: "center" },
                //{ name: "Members", type: "number", width: 50, title: "# of Members" },
                //{ name: "Address", type: "text", width: 200 },
                //{ name: "Country", type: "select", items: countries, valueField: "Id", textField: "Name" },
                { name: "Married", type: "text", title: "Group", align: "center" },
                {
                    type: "control", width: 65,
                    itemTemplate: function (value, item) {
                        var $result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);

                        var $customButton = $("<i class=\"site-menu-icon md-calendar\" aria-hidden=\"true\"></i>")
                            // .text("Schedule")
                            .click(function (e) {
                                $('#mainModal').modal('toggle');
                            });

                        return $customButton;
                    }
                }
            ]
        });

        
        $("#mainModal").find(".combobox").select2({ dropdownParent: $("#mainModal") });
        $("#createButton").click(function () {
            $('#mainModal').modal('toggle');
        });
        $("#cancelButton").click(function () {
            $('#mainModal').modal('toggle');
        });

                   // $("#creatButton").on
                            //$(document).ready(function () {
                            //    $("#mainModal").find(".combobox").select2({ dropdownParent: $("#mainModal") });
                            //    $('#statusFilter').select2({ minimumResultsForSearch: Infinity });
                            //});



                            //var setupGrid = function () {

                            //    //populate selects
                            //    $.each(CFSRemark.getPeople(), function (i, item) {
                            //        $('#PIId').append($('<option>', {
                            //            value: item.id,
                            //            text: item.text
                            //        }));
                            //    });
                            //    $.each(CFSRemark.getPeople(), function (i, item) {
                            //        $('#MAD').append($('<option>', {
                            //            value: item.id,
                            //            text: item.text
                            //        }));
                            //    });
                            //    $.each(CFSRemark.getFundingSources(), function (i, item) {
                            //        $('#SourceAgency').append($('<option>', {
                            //            value: item.id,
                            //            text: item.text
                            //        }));
                            //    });
                            //    $.each(CFSRemark.getZoho(), function (i, item) {
                            //        $('#ZohoName').append($('<option>', {
                            //            value: item.id,
                            //            text: item.text
                            //        }));
                            //    });
                            //    $('#createButton').click(function () {
                            //        $('#mainModal').one('CFS.page.showEdit', function () {
                            //            $('#ServiceCenterGrant').iCheck('check');
                            //        });

                            //    });

                            //    var fields = [
                            //        { field: "Id", selector: "#GrantId", type: CFSRemark.FormFieldType.Input },
                            //        { field: "GrantNumber", selector: "#GrantNumber", type: CFSRemark.FormFieldType.Input },
                            //        { field: "Description", selector: "#Description", type: CFSRemark.FormFieldType.Input },
                            //        { field: "StartDate", selector: "#StartDate", type: CFSRemark.FormFieldType.Input },
                            //        { field: "EndDate", selector: "#EndDate", type: CFSRemark.FormFieldType.Input },
                            //        { field: "Amount", selector: "#Amount", type: CFSRemark.FormFieldType.Input },
                            //        { field: "PercentOverhead", selector: "#Overhead", type: CFSRemark.FormFieldType.Input },
                            //        { field: "BannerAccount", selector: "#BannerAccount", type: CFSRemark.FormFieldType.Input },
                            //        { field: "ProposalNumber", selector: "#ProposalNumber", type: CFSRemark.FormFieldType.Input },
                            //        { field: "QuarterlyReportReqd", selector: "#QuarterlyReport", type: CFSRemark.FormFieldType.Switch },
                            //        { field: "ServiceCenter", selector: "#ServiceCenterGrant", type: CFSRemark.FormFieldType.Switch },
                            //        { field: "ZoHoPotentialIndex", selector: "#ZohoName", type: CFSRemark.FormFieldType.Select },
                            //        { field: "PrincipalInvestigatorId", selector: "#PIId", type: CFSRemark.FormFieldType.Select },
                            //        { field: "SourceAgency", selector: "#SourceAgency", type: CFSRemark.FormFieldType.Select },
                            //        { field: "ClientContact", selector: "#ClientContact", type: CFSRemark.FormFieldType.Input },
                            //        { field: "ManagingAD", selector: "#MAD", type: CFSRemark.FormFieldType.Select },
                            //    ];

                            //    var modalManager = CFSRemark.ModalForm("Grant", "#mainModal", fields, {
                            //        saveURL: "/Grants/EditGrant",
                            //        deleteURL: "/Grants/DeleteGrant",
                            //        deleteIdSelector: function (manager) { return $('#GrantId').val(); }
                            //    });
                            //    modalManager.setupListeners();
                            //    $('#createButton').on("click", modalManager.createFunction);

                            //    $('#mainModal').on("CFS.page.hide", function () {
                            //        modalManager.pageManager.removeRowHighlight();
                            //        $('#jsGrid').jsGrid('loadData');
                            //    })

                            //    $('#jsGrid').jsGrid({
                            //        width: "100%",
                            //        inserting: false,
                            //        editing: false,
                            //        sorting: true,
                            //        paging: false,
                            //        filtering: true,
                            //        data: clients,

                            //        fields: [
                            //            { name: "GrantNumber", type: "text", title: "Grant Name" },
                            //            { name: "Description", type: "text", title: "Description" },
                            //            { name: "StartDate", type: "datefield", title: "Start Date" },
                            //            { name: "EndDate", type: "datefield", title: "End Date" },
                            //            { name: "PI", type: "text", title: "PI" },
                            //            { name: "BannerAccount", type: "text", title: "Banner Number" },
                            //            { name: "Amount", type: "moneyfield", title: "Amount" },
                            //             {
                            //                 name: "ServiceCenter", type: "dropdownfield", title: "Service Center", width: "80",
                            //                 selectableItems: [{ id: "1", text: "Y" }, { id: "0", text: "N" }],
                            //                 filterableItems: [{ id: "", text: "" }, { id: "1", text: "Y" }, { id: "0", text: "N" }]
                            //             },
                            //            { type: "modalformconfig", width: 70, formManager: modalManager, viewURL: "/Grants/ViewGrant", saveURL: "/Grants/EditGrant", deleteURL: "/Grants/DeleteGrant", showDetails: true, detailsURL: "/Expenses/GrantDetail/" },
                            //            { name: "Id", visible: false }
                            //        ],

                            //        controller: {
                            //            loadData: function (filter) {
                            //                var params = {};
                            //                if (filter.GrantNumber)
                            //                    params["GrantNumber"] = filter.GrantNumber;
                            //                if (filter.Description)
                            //                    params["Description"] = filter.Description;
                            //                if (filter.PI)
                            //                    params["PI"] = filter.PI;
                            //                if (filter.ServiceCenter)
                            //                    params["ServiceCenter"] = filter.ServiceCenter;
                            //                if (filter.BannerAccount)
                            //                    params["Banner"] = filter.BannerAccount;
                            //                params["Status"] = $('#statusFilter').val();


                            //                var data = $.ajax({ type: "POST", url: "/Grants/GetGrants", data: params }).then(
                            //                    function (arr) {
                            //                        return arr;
                            //                    })
                            //                return data;
                            //            }
                            //        },
                            //        autoload: true
                            //    });

                            //    $('#statusFilter').on('change', function () {
                            //        $('#jsGrid').jsGrid("loadData");
                            //    });

                            //    $('#applyFilterButton').on('click', function (e) {
                            //        $('#jsGrid').jsGrid("loadData");
                            //    });

                            //    $('#ZohoName').on('change', function () {
                            //        var params = {};
                            //        params["ZohoName"] = $('#ZohoName').val();
                            //        $.ajax({
                            //            url: '/Grants/GetZohoInformation',
                            //            type: 'post',
                            //            data: params,
                            //            dataType: "json",
                            //            async: true,
                            //            success: function (html) {
                            //                for (var i = 0; i < html.length; i++) {
                            //                    var data = html[i];
                            //                    if (data["zohoAccountName"] != '') {
                            //                        $('#AccountName').val(data["zohoAccountName"]);
                            //                        $('#AccountName').removeClass('empty');
                            //                    }
                            //                    if (data["zohoQuartleyReports"] == 'true') {
                            //                        $('#QuarterlyReport').parent().addClass('checked');
                            //                    }
                            //                    //if (data["zohoFundNumber"] != '') {
                            //                    //    $('#BannerAccount').val(data["zohoFundNumber"]);
                            //                    //    $('#BannerAccount').removeClass('empty');
                            //                    //}
                            //                    if (data["zohoPI"] != '') {
                            //                        $('#PIId').val(data["zohoPI"]);
                            //                        $('#PIId').change();
                            //                    }
                            //                    if (data["zohoProposal"] != '') {
                            //                        $('#ProposalNumber').val(data["zohoProposal"]);
                            //                        $('#ProposalNumber').removeClass('empty');
                            //                    }
                            //                }
                            //            },
                            //            error: function (res) {

                            //            },
                            //            cache: false,

                            //        });
                            //    });

                            //}

                            //CFSRemark.requestDropdown(setupGrid, ["people", "fundingsources", "zoho"]);

    </script>
}