@{
    ViewBag.Title = "Clubs";
}

<div class="page fullHeight">
    <div class="open-full-panel half-panel animate-panel" id="topPage">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <span>Clubs</span>
                    <button type="button" class="btn btn-animate btn-animate-side btn-success btn-sm createButton headerCreateButton" id="createButton"><span><i class="icon md-plus"></i>New Club</span></button>
                    <a class="btn btn-info btn-sm floatRight" data-toggle="collapse" href="#collapseSearch">
                        Advanced Search Options
                    </a>
                </h2>
            </div>
            <div class="panel-body panel-no-pad">
                <div class="collapse" id="collapseSearch">
                    <div class="panel">
                        <div class="panel-body container">
                            <div class="row">
                                <div class="col-xs-12 col-md-6 col-lg-4">
                                    <div class="form-group form-material" data-plugin="formMaterial">
                                        <label class="form-control-label">Status:</label>
                                        <select class="combobox" id="statusFilter">
                                            <option selected="selected" value="current">Current</option>
                                            <option value="all">All</option>
                                            <option value="future">Future</option>
                                            <option value="expired">Expired</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="jsGrid" class="fullHeight"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-primary" tabindex="-1" role="dialog" id="mainModal">
    <div class="modal-dialog modal-center modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: rgb(158,27,50)">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="bottomTitle">View Club</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div id="bottomHalf">
                        <input type="hidden" id="ClubId" data-field="ClubId" />
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group form-material floating" data-plugin="formMaterial">
                                    <input type="text" class="form-control empty" id="ClubName" name="ClubName" data-field="ClubName" />
                                    <label class="form-control-label floating-label">Club Name</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group form-material floating" data-plugin="formMaterial">
                                    <input type="text" class="form-control empty" id="Description" name="Description" data-field="Description" />
                                    <label class="form-control-label floating-label">Description</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group form-material floating" data-plugin="formMaterial">
                                    <div id='calendar'></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn btn-info closeBottom waves-effect waves-light waves-round cancelButton floatRight" id="cancelButton">Cancel</div>
                <button type="submit" class="btn btn-warning waves-effect ladda-button saveButton floatRight" data-style="contract-overlay" id="saveButton"><span class="ladda-label">Delete</span></button>
                <button type="submit" class="btn btn-primary waves-effect ladda-button saveButton floatRight" data-style="contract-overlay" id="saveButton"><span class="ladda-label">Save</span></button>
            </div>
        </div>
    </div>
</div>

@section stylesheets {
    @*<link type="text/css" rel="stylesheet" href="~/Content/global/vendor/jsgrid/jsgrid.css" />*@
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/global/vendor/select2/select2.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/global/vendor/bootstrap-datepicker/bootstrap-datepicker.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/global/vendor/icheck/icheck.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/global/vendor/dropify/dropify.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.css' />
}

@section includescripts {
    <script type="text/javascript" src="~/Content/global/vendor/select2/select2.full.min.js"></script>
    @*<script type="text/javascript" src="~/Content/global/vendor/jsgrid/jsgrid.js"></script>*@
    <script type="text/javascript" src="~/Content/global/vendor/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="~/Content/global/vendor/icheck/icheck.js"></script>
    <script type="text/javascript" src="~/Content/global/vendor/dropify/dropify.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.min.js'></script>

}

@section scripts {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
    <script type="text/javascript" src="~/Content/site/jsgridHelper.js"></script>
        @*@<script type="text/javascript" src="~/Content/site/commonPageScripts.js"></script>
        <script type="text/javascript" src="~/Content/site/modalPageScripts.js"></script>*@

    <script type="text/javascript">
        $(document).ready(function () {
            $("#statusFilter").select2();
            $("#mainModal").find(".combobox").select2({ dropdownParent: $("#mainModal") });
        });
        var clients = [
            { "Name": "Basketball", "Group": "Group Name", "Description": "This is a test" },
            { "Name": "Football", "Group": "Big Team" },
            { "Name": "Golf", "Group": "Bigger Team" },
            { "Name": "Ultimate Frisbee", "Group": "Team" },
            { "Name": "Soccer", "Group": "Team Team" }
        ];

        $("#jsGrid").jsGrid({
            width: "100%",

            inserting: false,
            editing: false,
            sorting: true,
            paging: true,
            data: clients,

            fields: [
                { name: "Name", type: "text", width: 150, validate: "required", align: "center" },
                { name: "Group", type: "text", title: "Group", align: "center" },
                {
                    type: "control", width: 65,
                    itemTemplate: function (value, item) {
                        var $result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);

                        var $customButton = $("<i class=\"site-menu-icon md-calendar\" aria-hidden=\"true\"></i>")
                            .click(function (e) {
                                $('#mainModal').modal('toggle');
                                $('#calendar').fullCalendar('today');
                                $('#ClubName').removeClass('empty');
                                $('#ClubName').val(item.Name);
                                $('#Description').removeClass('empty');
                                $('#Description').val(item.Description);

                                var myCalendar = $('#calendar');
                                myCalendar.fullCalendar({
                                    defaultView: 'month',
                                    defaultDate: '2018-03-12',
                                    contentHeight: 500,
                                    eventColor: '#9E1B32',
                                    eventTextColor: '#FFFFFF',
                                    eventRender: function (eventObj, $el) {
                                        $el.popover({
                                            title: eventObj.title,
                                            content: eventObj.description,
                                            trigger: 'hover',
                                            placement: 'top',
                                            container: 'body'
                                        });
                                    },

                                    events: [
                                        {
                                            title: 'All Day Event Footaball Tourney',
                                            description: 'Football Tour',
                                            start: '2018-03-01'
                                        },
                                        {
                                            title: 'Long Event',
                                            description: 'description for Long Event',
                                            start: '2018-03-07',
                                            end: '2018-03-10'
                                        },
                                        {
                                            id: 999,
                                            title: 'Repeating Event',
                                            description: 'description for Repeating Event',
                                            start: '2018-03-09T16:00:00'
                                        },
                                        {
                                            id: 999,
                                            title: 'Repeating Event',
                                            description: 'description for Repeating Event',
                                            start: '2018-03-16T16:00:00'
                                        },
                                        {
                                            title: 'Conference',
                                            description: 'description for Conference',
                                            start: '2018-03-11',
                                            end: '2018-03-13'
                                        },
                                        {
                                            title: 'Meeting',
                                            description: 'description for Meeting',
                                            start: '2018-03-12T10:30:00',
                                            end: '2018-03-12T12:30:00'
                                        },
                                        {
                                            title: 'Lunch',
                                            description: 'description for Lunch',
                                            start: '2018-03-12T12:00:00'
                                        },
                                        {
                                            title: 'Meeting',
                                            description: 'description for Meeting',
                                            start: '2018-03-12T14:30:00'
                                        },
                                        {
                                            title: 'Birthday Party',
                                            description: 'description for Birthday Party',
                                            start: '2018-03-13T07:00:00'
                                        },
                                        {
                                            title: 'Click for Google',
                                            description: 'description for Click for Google',
                                            url: 'http://google.com/',
                                            start: '2018-03-28'
                                        }
                                    ]
                                })
                            });

                        return $customButton;
                    }
                }
            ]
        });

        $("#createButton").click(function () {
            $('#mainModal').modal('toggle');
        });
        $("#cancelButton").click(function () {
            $('#mainModal').modal('toggle');
        });

    </script>
}