
@{
    ViewBag.Title = "Event";
}

<div class="page fullHeight">
    <div class="open-full-panel half-panel animate-panel" id="topPage">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <span>Events</span>
                    <button type="button" class="btn btn-animate btn-animate-side btn-success btn-sm createButton headerCreateButton" id="createButton"><span><i class="icon md-plus"></i>New Event</span></button>
                    <a class="btn btn-info btn-sm floatRight" data-toggle="collapse" href="#collapseClubStat">
                        Club Stats
                    </a>
                    <a class="btn btn-info btn-sm floatRight" data-toggle="collapse" href="#collapseGroupStat" id="eventDropdown">
                        Group Stats
                    </a>
                    <a class="btn btn-info btn-sm floatRight" data-toggle="collapse" href="#collapseEventStat" id="eventDropdown">
                        Event Stats
                    </a>
                </h2>
            </div>
            <div class="panel-body panel-no-pad">
                <div class="collapse" id="collapseClubStat">
                    <div class="panel">
                        <div class="panel-body container">
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group form-material floating" data-plugin="formMaterial">
                                        <input type="text" class="form-control empty" id="StatName" />
                                        <label class="form-control-label floating-label">Club Stat Name</label>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group form-material floating" data-plugin="formMaterial">
                                        <input type="text" class="form-control empty" id="StatAbb" />
                                        <label class="form-control-label floating-label">Club Stat Abbreviation</label>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-3">
                                    <div class="form-group form-material" data-plugin="formMaterial">
                                        <label class="form-control-label">Club Name</label>
                                        <select class="combobox" id="StatClubList" data-field="Group">
                                            <option value="">Select an Option</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-3">
                                    <div class="form-group form-material" data-plugin="formMaterial">
                                        <label class="form-control-label">Stat Name</label>
                                        <select class="combobox" id="StatList" data-field="Group">
                                            <option value="">Select an Option</option>
                                        </select>
                                    </div>
                                </div>
                                <button class="btn btn-icon btn-warning" id="DeleteClubStat" style="margin-top:25px">Delete Club Stat</button>
                                *Select a club to delete a stat*
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group form-material floating" data-plugin="formMaterial">
                                            <input type="text" class="form-control empty" id="StatDescription" name="Description" data-field="Description" />
                                            <label class="form-control-label floating-label">Description</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <button class="btn btn-icon btn-success" id="AddClubStat">Add Club Stat</button>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body panel-no-pad">
                    <div class="collapse" id="collapseGroupStat">
                        <div class="panel">
                            <div class="panel-body container">
                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <div class="form-group form-material floating" data-plugin="formMaterial">
                                            <input type="text" class="form-control empty" id="GroupStatName" />
                                            <label class="form-control-label floating-label">Group Stat Name</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <div class="form-group form-material floating" data-plugin="formMaterial">
                                            <input type="text" class="form-control empty" id="GroupStatAbb" />
                                            <label class="form-control-label floating-label">Group Stat Abbreviation</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-3">
                                        <div class="form-group form-material" data-plugin="formMaterial">
                                            <label class="form-control-label">Group Name</label>
                                            <select class="combobox" id="StatGroupList" data-field="Group">
                                                <option value="">Select an Option</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-3">
                                        <div class="form-group form-material" data-plugin="formMaterial">
                                            <label class="form-control-label">Stat Name</label>
                                            <select class="combobox" id="GroupStatList" data-field="Group">
                                                <option value="">Select an Option</option>
                                            </select>
                                        </div>
                                    </div>
                                    <button class="btn btn-icon btn-warning" id="DeleteGroupStat" style="margin-top:25px">Delete Club Stat</button>
                                    *Select a group to delete a stat*
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group form-material floating" data-plugin="formMaterial">
                                                <input type="text" class="form-control empty" id="GroupStatDescription" name="Description" data-field="Description" />
                                                <label class="form-control-label floating-label">Description</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <button class="btn btn-icon btn-success" id="AddGroupStat">Add Group Stat</button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapse" id="collapseEventStat">
                        <div class="panel">
                            <div class="panel-body container">
                                <div class="row">
                                    <div class="col-xs-12 col-md-3">
                                        <div class="form-group form-material" data-plugin="formMaterial">
                                            <label class="form-control-label">Select Event Name To Edit Event Stats</label>
                                            <select class="combobox" id="StatEventList" data-field="Group">
                                                <option value="">Select an Option</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div id="clubStatTable" class="fullHeight" align="center"></div>
                                </div>
                                <br />
                                <br />
                                <div class="row">
                                    <div id="groupStatTable" class="fullHeight" align="center"></div>
                                </div>
                                <div class="row">
                                    <button class="btn btn-icon btn-success" id="AddEventStats">Update Event Stats</button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="jsGrid" class="fullHeight"></div>
                </div>
            </div>
    </div>
</div>

<div class="modal modal-primary" tabindex="-1" role="dialog" id="statModal">
    <div class="modal-dialog modal-center modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: rgb(158,27,50)">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="bottomTitle">View Club Stats</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div id="bottomHalf">
                        <div id="dvTable" class="fullHeight" align="center"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn btn-info closeBottom waves-effect waves-light waves-round cancelButton floatRight" id="cancelStatButton">Cancel</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-primary" tabindex="-1" role="dialog" id="mainModal">
    <div class="modal-dialog modal-center modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: rgb(158,27,50)">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="bottomTitle">View Event</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div id="bottomHalf">
                        <input type="hidden" id="EventId" data-field="EventId" />
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group form-material floating" data-plugin="formMaterial">
                                    <input type="text" class="form-control empty" id="EventName" name="EventName" data-field="EventName" />
                                    <label class="form-control-label floating-label">Event Name</label>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <div class="form-group form-material" data-plugin="formMaterial">
                                    <label class="form-control-label">Club Name</label>
                                    <select class="combobox" id="Club" data-field="Group">
                                        <option value="">Select an Option</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-5" data-plugin="formMaterial">
                                <label class="form-control-label">Club List</label>
                                <ul class="dynamic-list" id="dynamic-list">
                                    <li class="floating firstli">
                                        <div class="input-group" style="display:inline-table">
                                            <select class="combobox" id="MultiClub" data-field="Group">
                                                <option value="">Select an Option</option>
                                            </select>
                                            <span class="input-group-btn">
                                                <button class="btn btn-icon btn-success" onclick="addItem()">Add Club</button>
                                                <button class="btn btn-icon btn-danger md-delete" type="button" onclick="removeItem()"></button>
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-3">
                                <div class="form-group form-material floating" data-plugin="formMaterial">
                                    <label class="form-control-label floating-label">Start Date</label>
                                    <br />
                                    <input type="datetime-local" class="form-control" id="StartDate" name="StartDate" data-field="StartDate" />

                                </div>
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <div class="form-group form-material floating" data-plugin="formMaterial">
                                    <label class="form-control-label floating-label">End Date</label>
                                    <br />
                                    <input type="datetime-local" class="form-control" id="EndDate" name="EndDate" data-field="EndDate" />

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group form-material floating" data-plugin="formMaterial">
                                    <input type="text" class="form-control empty" id="Description" name="Description" data-field="Description" />
                                    <label class="form-control-label floating-label">Description</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn btn-info closeBottom waves-effect waves-light waves-round cancelButton floatRight" id="cancelButton">Cancel</div>
                    <button type="submit" class="btn btn-warning waves-effect ladda-button saveButton floatRight" data-style="contract-overlay" id="deleteButton"><span class="ladda-label">Delete</span></button>
                    <button type="submit" class="btn btn-primary waves-effect ladda-button saveButton floatRight" data-style="contract-overlay" id="saveNewButton"><span class="ladda-label">Save</span></button>
                    <button type="submit" class="btn btn-primary waves-effect ladda-button saveButton floatRight" data-style="contract-overlay" id="saveButton"><span class="ladda-label">Save</span></button>
                </div>
            </div>
        </div>
    </div>
</div>

@section stylesheets {
    @*<link type="text/css" rel="stylesheet" href="~/Content/global/vendor/jsgrid/jsgrid.css" />*@
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/global/vendor/select2/select2.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/global/vendor/bootstrap-datepicker/bootstrap-datepicker.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/global/vendor/icheck/icheck.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/global/vendor/dropify/dropify.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.css' />
}

@section includescripts {
    <script type="text/javascript" src="~/Content/global/vendor/select2/select2.full.min.js"></script>
    @*<script type="text/javascript" src="~/Content/global/vendor/jsgrid/jsgrid.js"></script>*@
    <script type="text/javascript" src="~/Content/global/vendor/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="~/Content/global/vendor/icheck/icheck.js"></script>
    <script type="text/javascript" src="~/Content/global/vendor/dropify/dropify.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.min.js'></script>

}

@section scripts {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $("#StatClubList").select2();
            $("#StatEventList").select2();
            $("#StatGroupList").select2();
            $("#GroupStatList").select2();
            $("#StatList").select2();
            $("#mainModal").find(".combobox").select2({ dropdownParent: $("#mainModal") });
            $('#jsGrid').jsGrid("loadData");

            //Populate Dropdowns
            var params = {};
            var data = $.ajax({ type: "GET", url: "api/clubs/", data: params }).then(
                function (arr) {
                    for (var i = 0; i < arr.length; i++) {
                        $("#Club").append( // Append an object to the inside of the select box
                            $("<option></option>") // Yes you can do this.
                                .text(arr[i].name)
                                .val(arr[i].id)
                        );
                        $("#MultiClub").append( // Append an object to the inside of the select box
                            $("<option></option>") // Yes you can do this.
                                .text(arr[i].name)
                                .val(arr[i].id)
                        );
                        $("#StatClubList").append( // Append an object to the inside of the select box
                            $("<option></option>") // Yes you can do this.
                                .text(arr[i].name)
                                .val(arr[i].id)
                        );
                    }
                    return arr;
                });
            var data = $.ajax({ type: "GET", url: "api/events/", data: params }).then(
                function (arr) {
                    for (var i = 0; i < arr.length; i++) {
                        $("#StatEventList").append( // Append an object to the inside of the select box
                            $("<option></option>") // Yes you can do this.
                                .text(arr[i].name)
                                .val(arr[i].id)
                        );
                    }
                    return arr;
                });
            var data = $.ajax({ type: "GET", url: "api/groups/", data: params }).then(
                function (arr) {
                    for (var i = 0; i < arr.length; i++) {
                        $("#StatGroupList").append( // Append an object to the inside of the select box
                            $("<option></option>") // Yes you can do this.
                                .text(arr[i].name)
                                .val(arr[i].id)
                        );
                    }
                    return arr;
                });
            $('input[type=datetime-local]').setNow();
        });

        

        //Create Grid and Populate Event Modals
        $("#jsGrid").jsGrid({
            width: "100%",

            inserting: false,
            editing: false,
            sorting: true,
            paging: true,

            controller: {
                loadData: function () {
                    var data = $.ajax({ type: "GET", url: "api/events" }).then(
                        function (arr) {
                            return arr;
                        })
                    return data;
                }
            },
            fields: [
                { name: "name", title: "Name", type: "text", width: 100, align: "center" },
                { name: "clubName", title: "Club", type: "text", width: 100, align: "center" },               
                { name: "start", type: "date", title: "Start", align: "center" },
                { name: "finish", type: "date", title: "Finish", align: "center" },
                { name: "id", visible: false },
                {
                    type: "control", width: 70,
                    itemTemplate: function (value, item) {
                        var $result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);

                        var $customButton = $("<i class=\"site-menu-icon md-calendar\" aria-hidden=\"true\"></i>")
                            .click(function (e) {
                                $('#deleteButton').show();
                                $("#saveNewButton").hide();
                                $("#saveButton").show();
                                $('#mainModal').modal('toggle');
                                $('#EventName').removeClass('empty').val(item.name);
                                $('#Description').removeClass('empty').val(item.description);
                                $('#EventId').val(item.id);
                                $('#StartDate').val(item.start);
                                $('#EndDate').val(item.finish);
                                $('#Club').val(item.clubId).change();
                            });

                        var $customClubStatButton = $("<i class=\"site-menu-icon md-evernote\" aria-hidden=\"true\"></i>")
                            .click(function (e) {

                                if (item.usersClubStats.length > 0) {
                                    var customers = new Array();
                                    customers.push(["Name"]);
                                    for (var i = 0; i < item.clubStats.length; i++) {
                                        customers[0].push(item.clubStats[i].name);
                                    }
                                    for (var i = 0; i < item.usersClubStats.length; i++) {
                                        customers.push([item.usersClubStats[i].first + " " + item.usersClubStats[i].last]);
                                        for (var x = 0; x < item.clubStats.length; x++) {
                                            customers[i + 1].push(item.usersClubStats[i].stats[item.clubStats[x].id]);
                                        }
                                    }

                                    //Create a HTML Table element.
                                    var table = document.createElement("TABLE");
                                    table.border = "1";
                                    table.width = 500;
                                    table.cellpadding = 5;
                                    table.align = "center";

                                    //Get the count of columns.
                                    var columnCount = customers[0].length;

                                    //Add the header row.
                                    var row = table.insertRow(-1);
                                    row.align = "center";
                                    for (var i = 0; i < columnCount; i++) {
                                        var headerCell = document.createElement("TH");
                                        headerCell.align = "center";
                                        headerCell.innerHTML = customers[0][i];
                                        row.appendChild(headerCell);

                                    }

                                    //Add the data rows.
                                    for (var i = 1; i < customers.length; i++) {
                                        row = table.insertRow(-1);
                                        for (var j = 0; j < columnCount; j++) {
                                            var cell = row.insertCell(-1);
                                            if (j != 0) {
                                                cell.innerHTML = customers[i][j];
                                            }
                                            else {
                                                cell.innerHTML = customers[i][j];
                                            }
                                        }
                                    }

                                    var dvTable = document.getElementById("dvTable");
                                    dvTable.innerHTML = "";
                                    dvTable.appendChild(table);
                                }
                                else {
                                    $('#dvTable').html('There are no stats for this club event :(');
                                }

                                $('#statModal').modal('toggle');
                            });

                        var $customGroupStatButton = $("<i class=\"site-menu-icon  md-account-circle\" aria-hidden=\"true\"></i>")
                            .click(function (e) {


                                if (item.usersGroupStats.length > 0) {
                                    var customers = new Array();
                                    customers.push(["Name"]);
                                    for (var i = 0; i < item.groupStats.length; i++) {
                                        customers[0].push(item.groupStats[i].name);
                                    }
                                    for (var i = 0; i < item.usersGroupStats.length; i++) {
                                        customers.push([item.usersGroupStats[i].first + " " + item.usersGroupStats[i].last]);
                                        for (var x = 0; x < item.groupStats.length; x++) {
                                            customers[i + 1].push(item.usersGroupStats[i].stats[item.groupStats[x].id]);
                                        }
                                    }

                                    //Create a HTML Table element.
                                    var table = document.createElement("TABLE");
                                    table.border = "1";
                                    table.width = 500;
                                    table.cellpadding = 5;
                                    table.align = "center";

                                    //Get the count of columns.
                                    var columnCount = customers[0].length;

                                    //Add the header row.
                                    var row = table.insertRow(-1);
                                    row.align = "center";
                                    for (var i = 0; i < columnCount; i++) {
                                        var headerCell = document.createElement("TH");
                                        headerCell.align = "center";
                                        headerCell.innerHTML = customers[0][i];
                                        row.appendChild(headerCell);

                                    }

                                    //Add the data rows.
                                    for (var i = 1; i < customers.length; i++) {
                                        row = table.insertRow(-1);
                                        for (var j = 0; j < columnCount; j++) {
                                            var cell = row.insertCell(-1);
                                            if (j != 0) {
                                                cell.innerHTML = customers[i][j];
                                            }
                                            else {
                                                cell.innerHTML = customers[i][j];
                                            }
                                        }
                                    }

                                    var dvTable = document.getElementById("dvTable");
                                    dvTable.innerHTML = "";
                                    dvTable.appendChild(table);
                                }
                                else {
                                    $('#dvTable').html('There are no stats for this club event :(');
                                }

                                $('#statModal').modal('toggle');
                            });
                        return $("<i>").add($customButton).add($customClubStatButton).add($customGroupStatButton);
                    }
                }
            ],
            autoload: true

        });

        //Populate Stat List for Deletion
        $('#StatClubList').on('change', function () {
            var clubSelect = $('#StatClubList').val();
            var data = $.ajax({ type: "GET", url: "api/stats?clubId=" + clubSelect }).then(
                function (arr) {
                    for (var i = 0; i < arr.length; i++) {
                        $("#StatList").append( // Append an object to the inside of the select box
                            $("<option></option>") // Yes you can do this.
                                .text(arr[i].name)
                                .val(arr[i].id)
                        );
                    }
                    return arr;
                });
        });

        //Populate Group Stat List for Deletion
        $('#StatGroupList').on('change', function () {
            var groupSelect = $('#StatGroupList').val();
            var data = $.ajax({ type: "GET", url: "api/stats?groupId=" + groupSelect }).then(
                function (arr) {
                    for (var i = 0; i < arr.length; i++) {
                        $("#GroupStatList").append( // Append an object to the inside of the select box
                            $("<option></option>") // Yes you can do this.
                                .text(arr[i].name)
                                .val(arr[i].id)
                        );
                    }
                    return arr;
                });
        });

        

        //Click Events Below
        //  
        //
        //
        //
        //
        //Click Events Below


        //Create New Club Stat
        $("#AddClubStat").click(function () {
            var params = {};
            params["clubId"] = $("#StatClubList").val();
            params["name"] = $("#StatName").val();
            params["abbreviation"] = $("#StatAbb").val();
            params["description"] = $("#StatDescription").val();
            var $data = $.ajax({
                type: "POST", url: "api/stats/club", data: params
            }).then(
                function (arr) {

                    return arr;
                });

            location.reload();
        });

        //Delete Club Stat
        $("#DeleteClubStat").click(function () {

            var statId = $("#StatList").val();

            var $data = $.ajax({
                type: "DELETE", url: "api/stats/" + statId
            }).then(
                function (arr) {

                    return arr;
                });

            location.reload();
        });

        //Create New Group Stat
        $("#AddGroupStat").click(function () {
            var params = {};
            params["groupId"] = $("#StatGroupList").val();
            params["name"] = $("#GroupStatName").val();
            params["abbreviation"] = $("#GroupStatAbb").val();
            params["description"] = $("#GroupStatDescription").val();
            var $data = $.ajax({
                type: "POST", url: "api/stats/Group", data: params
            }).then(
                function (arr) {

                    return arr;
                });

            location.reload();
        });

        //Delete Group Stat
        $("#DeleteGroupStat").click(function () {

            var statId = $("#GroupStatList").val();

            var $data = $.ajax({
                type: "DELETE", url: "api/stats/" + statId
            }).then(
                function (arr) {

                    return arr;
                });

            location.reload();
        });

        //Create Event Modal
        $("#createButton").click(function () {
            $('#calendar').fullCalendar('destroy');
            $("#saveNewButton").show();
            $("#saveButton").hide();
            $('#EventName').addClass('empty').val('');
            $('#Description').addClass('empty').val('');
            $('#Club').val('').change();
            $('#deleteButton').hide();
            $('#mainModal').modal('toggle');
        });

        //Delete Event
        $("#deleteButton").click(function () {
            var id = $('#EventId').val();
            var data = $.ajax({ type: "DELETE", url: "api/Events/" + id }).then(
                function (arr) {
                    $('#mainModal').modal('toggle');
                    $('#jsGrid').jsGrid("loadData");
                    return arr;
                });
        });

        //Create New Event
        $("#saveNewButton").click(function () {
            var params = {};
            params["name"] = $("#EventName").val();
            params["start"] = $("#StartDate").val();
            params["finsih"] = $("#EndDate").val();
            params["description"] = $("#Description").val();
            params["isGroupEvent"] = true;
            params["clubId"] = $("#Club").val();
            var $data = $.ajax({
                type: "POST", url: "api/events/", data: params
            }).then(
                function (arr) {

                    return arr;
                });
            $('#mainModal').modal('toggle');

            location.reload();
        });

        //Edit Existing Event
        $("#saveButton").click(function () {
            var params = {};
            params["Id"] = $("#EventId").val();
            params["name"] = $("#EventName").val();
            params["start"] = $("#StartDate").val();
            params["Finish"] = $("#EndDate").val();
            params["description"] = $("#Description").val();
            params["isGroupEvent"] = true;
            params["clubId"] = $("#Club").val();
            var $data = $.ajax({
                type: "PUT", url: "api/events/", data: params
            }).then(
                function (arr) {

                    return arr;
                });
            $('#mainModal').modal('toggle');
            $('#jsGrid').jsGrid("loadData");
        });

        //Close Event Modal
        $("#cancelButton").click(function () {
            $('#mainModal').modal('toggle');
        });

        //Close Stat Event Modal
        $("#cancelStatButton").click(function () {
            $('#statModal').modal('toggle');
        });

        //Add Club Stat Button
        $("#AddEventStats").click(function () {

            var inc = 0;
            var table = document.getElementById("clubStatTable").children[0].rows;
            for (var i = 1; i < table.length; i++) {
                for (var x = 1; x < table[i].cells.length; x++) {
                    clubStatsArray[inc]["value"] = table[i].cells[x].children[0].value;
                    inc++;
                }
            }

            var table = document.getElementById("groupStatTable").children[0].rows;
            for (var i = 1; i < table.length; i++) {
                for (var x = 1; x < table[i].cells.length; x++) {
                    clubStatsArray[inc]["value"] = table[i].cells[x].children[0].value;
                    inc++;
                }
            }


            var eventId = $('#StatEventList').val();

            //Insert Stats Here
            var data = $.ajax({ type: "POST", url: "api/events/" + eventId + "/stats", data: JSON.stringify(clubStatsArray), contentType: "application/json" }).then(
                function (arr) {
                    return arr;
                });
            clubStatsArray = [];
            location.reload();
        });

        var clubStatsArray = [];
        var groupStatsArray = [];
        //Populate Event Stats Dropdown
        $("#StatEventList").on('change', function () {
            $('#clubStatTable').html('Loading Please Wait...');
            $('#groupStatTable').html('');
            clubStatsArray = [];
            var eventId = $('#StatEventList').val();
            var eventNames = [];

            var data = $.ajax({ type: "GET", url: "api/events/" + eventId }).then(
                function (item) {

                    var eventNameData = $.ajax({ type: "GET", url: "api/clubs/" + item.clubId }).then(
                        function (names) {
                            eventNames = names.members;

                            //Construct Club Table
                            var customers = new Array();
                            customers.push(["Name"]);
                            for (var i = 0; i < item.clubStats.length; i++) {
                                customers[0].push(item.clubStats[i].name);
                            }


                            for (var i = 0; i < eventNames.length; i++) {
                                customers.push([eventNames[i].first + " " + eventNames[i].last]);

                                if (i < item.usersClubStats.length) {
                                    for (var x = 0; x < item.clubStats.length; x++) {
                                        customers[i + 1].push(item.usersClubStats[i].stats[item.clubStats[x].id]);
                                        clubStatsArray.push({ "value": 0, "userId": eventNames[i].id, "eventId": item.id, "statId": item.clubStats[x].id });
                                    }
                                }
                                else {
                                    for (var x = 0; x < item.clubStats.length; x++) {
                                        customers[i + 1].push(0);
                                        clubStatsArray.push({ "value": 0, "userId": eventNames[i].id, "eventId": item.id, "statId": item.clubStats[x].id });
                                    }
                                }

                            }

                            //Create a HTML Table element.
                            var table = document.createElement("TABLE");
                            table.border = "1";
                            table.width = 500;
                            table.cellpadding = 5;
                            table.align = "center";

                            //Get the count of columns.
                            var columnCount = customers[0].length;

                            //Add the header row.
                            var row = table.insertRow(-1);
                            row.align = "center";
                            for (var i = 0; i < columnCount; i++) {
                                var headerCell = document.createElement("TH");
                                headerCell.align = "center";
                                headerCell.innerHTML = customers[0][i];
                                row.appendChild(headerCell);

                            }

                            //Add the data rows.
                            for (var i = 1; i < customers.length; i++) {
                                row = table.insertRow(-1);
                                for (var j = 0; j < columnCount; j++) {
                                    var cell = row.insertCell(-1);
                                    if (j != 0) {
                                        cell.innerHTML = " <input type=\"text\" value=\"" + customers[i][j] + "\">";
                                    }
                                    else {
                                        cell.innerHTML = customers[i][j];
                                    }
                                }
                            }

                            var dvTable = document.getElementById("clubStatTable");
                            dvTable.innerHTML = "";
                            dvTable.appendChild(table);

                            //Construct Group Stat Table 
                            var customers = new Array();
                            customers.push(["Name"]);
                            for (var i = 0; i < item.groupStats.length; i++) {
                                customers[0].push(item.groupStats[i].name);
                            }
                            for (var i = 0; i < eventNames.length; i++) {
                                customers.push([eventNames[i].first + " " + eventNames[i].last]);

                                if (i < item.usersGroupStats.length) {
                                    for (var x = 0; x < item.groupStats.length; x++) {
                                        customers[i + 1].push(item.usersGroupStats[i].stats[item.groupStats[x].id]);
                                        clubStatsArray.push({ "value": 0, "userId": eventNames[i].id, "eventId": item.id, "statId": item.groupStats[x].id });
                                    }
                                }
                                else {
                                    for (var x = 0; x < item.groupStats.length; x++) {
                                        customers[i + 1].push(0);
                                        clubStatsArray.push({ "value": 0, "userId": eventNames[i].id, "eventId": item.id, "statId": item.groupStats[x].id });
                                    }
                                }

                            }

                            //Create a HTML Table element.
                            var table = document.createElement("TABLE");
                            table.border = "1";
                            table.width = 500;
                            table.cellpadding = 5;
                            table.align = "center";

                            //Get the count of columns.
                            var columnCount = customers[0].length;

                            //Add the header row.
                            var row = table.insertRow(-1);
                            row.align = "center";
                            for (var i = 0; i < columnCount; i++) {
                                var headerCell = document.createElement("TH");
                                headerCell.align = "center";
                                headerCell.innerHTML = customers[0][i];
                                row.appendChild(headerCell);

                            }

                            //Add the data rows.
                            for (var i = 1; i < customers.length; i++) {
                                row = table.insertRow(-1);
                                for (var j = 0; j < columnCount; j++) {
                                    var cell = row.insertCell(-1);
                                    if (j != 0) {
                                        cell.innerHTML = " <input type=\"text\" value=\"" + customers[i][j] + "\">";
                                    }
                                    else {
                                        cell.innerHTML = customers[i][j];
                                    }
                                }
                            }

                            var dvTable = document.getElementById("groupStatTable");
                            dvTable.innerHTML = "";
                            dvTable.appendChild(table);
                            return item;


                        });

                });
            return data;

        });

        //Datetime now function
        $.fn.setNow = function (onlyBlank) {
            var now = new Date($.now())
                , year
                , month
                , date
                , hours
                , minutes
                , seconds
                , formattedDateTime
                ;

            year = now.getFullYear();
            month = now.getMonth().toString().length === 1 ? '0' + (now.getMonth() + 1).toString() : now.getMonth() + 1;
            date = now.getDate().toString().length === 1 ? '0' + (now.getDate()).toString() : now.getDate();
            hours = now.getHours().toString().length === 1 ? '0' + now.getHours().toString() : now.getHours();
            minutes = now.getMinutes().toString().length === 1 ? '0' + now.getMinutes().toString() : now.getMinutes();
            seconds = now.getSeconds().toString().length === 1 ? '0' + now.getSeconds().toString() : now.getSeconds();

            formattedDateTime = year + '-' + month + '-' + date + 'T' + hours + ':' + minutes + ':' + seconds;

            if (onlyBlank === true && $(this).val()) {
                return this;
            }

            $(this).val(formattedDateTime);

            return this;
        }

        //Dynamic List Functions
        function addItem(data) {
            var ul = document.getElementById("dynamic-list");
            var candidate = document.getElementById("MultiClub");
            var text = candidate[candidate.selectedIndex].text;
            var li = document.createElement("li");
            li.setAttribute('id', candidate.value);
            li.appendChild(document.createTextNode(text));
            ul.appendChild(li);
        }

        function removeItem() {
            var ul = document.getElementById("dynamic-list");
            var candidate = document.getElementById("MultiClub");
            var item = document.getElementById(candidate.value);
            ul.removeChild(item);
        }

        //Formats Date Time on Grid
        var DateField = function (config) {
            jsGrid.Field.call(this, config);
        };

        DateField.prototype = new jsGrid.Field({
            sorter: function (date1, date2) {
                return new Date(date1) - new Date(date2);
            },

            itemTemplate: function (value) {
                return new Date(value).toUTCString();
            },


        });

        jsGrid.fields.date = DateField;
    </script>
}
